div.products{
  main.sv{
    background-image: url("../images/products/sv.png");
  }
  main.products{
    @include paddingbottom(80px,50px,50px);
    section.list{
      @include flex(space-between,stretch,justify,stretch);
      max-width: 1280px;
      @include wrap1040();
      @include margintop(30px,30px,30px);
      article.title{
        @include basis(calc(100% - 970px),100%,100%,0,0);
        > *{
          @media only screen and (min-width:1366px){
            -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            padding-top: 30px;
            letter-spacing: normal;
            font-feature-settings:normal;
            text-orientation: mixed;
            max-height: 220px;
          }
        }
        h2{
          font-size: 1.6rem;
          @media only screen and (max-width: 1365px){
            text-align: center;
          }
          span{
            font-size: 2rem;
            @include gosik();
          }
        }
      }
      article.flex{
        @include basis3(920px,480px,100%,30px,24px);
        @include flex(space-between,stretch,justify,stretch);
        @include tabcenter();
      }
      div.single{
        @include basis(calc(25% - 15px),calc(50% - 25px),calc(50% - 10px),0,0);
        position: relative;
        @media only screen and (max-width: 1365px){
          margin-top: 20px;
          &:first-of-type,&:nth-of-type(2){
            margin-top: 0;
          }
        }
        p.num{
          position: absolute;
          top: 10px;
          left: 10px;
          color: $main;
          font-size: 3rem;
          font-weight: bold;
          @media only screen and (max-width: 767px){
            top: 4px;
            left: 4px;
            font-size: 2.4rem;
          }
        }
        p.title{
          @include fontsize(1.8rem,1.8rem,1.5rem);
          color: $main;
          font-weight: bold;
          text-align: center;
          margin:15px auto 4px;
        }
        p.text{
          text-align: center;
        }
      }
    }
  }
}
