div.service{
  main.sv{
    background-image: url("../images/service/sv.png");
  }
  main.cont1{
    h2{
      @include h2no1();
    }
    section.flex1{
      @include flex(space-between,center,justify,center);
      article.left{
        @include basis(calc(100% - 320px),calc(100% - 300px),100%,0,0);
        h3{
          @include fontsize(2.4rem,2rem,1.8rem);
          color: $main;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid $main;
          @include mincho();
        }
      }
      article.right{
        @include basis3(270px,270px,100%,0,20px);
      }
    }
    section.flex2{
      @include flex(space-between,center,justify,center);
      margin-top: 30px;
      article{
        @include basis(240px,50%,100%,0,0);
        padding:15px;
      }
      article.title{
        h3{
          font-size: 1.8rem;
          font-weight: bold;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid $base;
        }
      }
      article.num{
        p.num{
          color: $main;
          font-size: 4.8rem;
          font-weight: bold;
          @include mincho();
          line-height: 1;
          padding-bottom: 18px;
          margin-bottom: 15px;
          position: relative;
          text-align: center;
          &::before{
            content:"";
            @include gijibar($main,3px);
            width: 30px;
            bottom: 0;
            left: 0;
            right: 0;
            margin:0 auto;
          }
        }
        p.text{
          text-align: center;
          font-size: 1.8rem;
          @include mincho();
        }
      }
    }
    section.flex3{
      @include flex(space-between,center,justify,center);
      margin-top: 30px;
      article{
        @include basis(300px,300px,100%,0,0);
        padding:15px 0;
        h3{
          text-align: center;
          @include mincho();
          span{
            font-size: 2.4rem;
            color: $main;
            display: block;
            @include mincho();
          }
        }
        p.text{
          text-align: center;
          margin-top: 8px;
        }
      }
    }
    section.movie{
      margin-top: 30px;
    }
  }
  main.cont2{
    @include paddingtop(100px,70px,50px);
    h2{
      @include h2no1();
    }
    section.flex1,section.flex2{
      @include flex(space-between,center,justify,center);
      margin-top: 50px;
      @include tabcenter();
      @media only screen and (max-width: 1365px){
        max-width: 480px;
      }
      article{
        @include basis(calc(50% - 15px),100%,100%,30px,20px);
        h3{
          color: $main;
          font-size: 2.4rem;
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid $main;
        }
        p.text{
          letter-spacing: -.05em;
          line-height: 1.8;
          span{
            display: block;
            text-align: right;
            font-size: 1.2rem;
          }
        }
      }
    }
    section.flex3{
      @include flex();
      margin-top: 30px;
      article{
        @include basis(calc(25% - 15px),calc(25% - 6px),calc(50% - 15px),0,0);
        padding:15px 0;
      }
    }
  }
  main.cont3,main.cont4,main.cont5{
    @include paddingtop(100px,70px,50px);
    h2{
      @include h2no1();
    }
    section.flex{
      @include flex(space-between,center,justify,center);
      margin-top: 50px;
      @include tabcenter();
      @media only screen and (max-width: 1365px){
        max-width: 480px;
      }
      article{
        @include basis(calc(50% - 15px),100%,100%,30px,20px);
        h3{
          color: $main;
          font-size: 2.4rem;
          padding-bottom: 15px;
          margin-bottom: 15px;
          border-bottom: 1px solid $main;
        }
        p.text{
          letter-spacing: -.05em;
          line-height: 1.8;
          span{
            display: block;
            text-align: right;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  main.cont5{
    @include paddingbottom(100px,70px,50px);
  }
}
