@charset "UTF-8";

@import "mixin.scss";

@mixin h2no1() {
  @include fontsize(2.4rem,2.4rem,2rem);
  @include mincho();
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background:url("../images/common/wave.png") no-repeat;
  background-position: center bottom;
  background-size: 60px auto;
  span{
    font-size: 1.4rem;
    display: block;
    color: $main;
    @media all and (-ms-high-contrast: none){
      padding-bottom: 8px;
    }
  }
}

$base:#464646;
$base2:#7c7c7c;
$main:#26a262;
$back1:#f2f2f2;
$back2:#f3eee6;
$border1:#d3d3d3;

body{
  width: 100%;
  //font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  font-family:'Osaka', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  @media all and (-ms-high-contrast: none){
    font-family:"メイリオ" , Meiryo , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  }
  //font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
  position: relative;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: $base;
}
/*a[href^="tel"]{
  display: inline-block;
  color: $base;
}*/

img{
  margin: 0 auto;
  max-width: 100%;
  display: block;
  height: auto !important;
}

svg{
  max-width: 100%;
  max-height: 100%;
}

p,a,li,dl,dt,dd,li{
  @include fontsize(1.4rem,1.4rem,1.4rem);
  color:$base;
  font-feature-settings: "palt" 1;
  line-height: 1.5;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    letter-spacing: -.02em;
  }
}

h2,h3,h4{
  font-weight: normal;
  color:$base;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    letter-spacing: -.02em;
  }
}

.wrap128-header{
  width: 100%;
  max-width: 1340px;
  margin:0 auto;
  padding:0 30px;
  @media only screen and (max-width: 1365px){
    max-width:750px;
  }
  @media only screen and (max-width: 767px){
    max-width:480px;
  }
}

.wrap1040{
  width: 100%;
  max-width: 1100px;
  margin:0 auto;
  padding:0 30px;
  @media only screen and (max-width: 1365px){
    max-width:750px;
  }
  @media only screen and (max-width: 767px){
    max-width:480px;
    padding:0 15px;
  }
}

.wrap10{
  width: 100%;
  max-width: 980px;
  margin:0 auto;
  padding:0 30px;
  @media only screen and (max-width: 1365px){
    max-width:750px;
  }
  @media only screen and (max-width: 767px){
    max-width:480px;
    padding:0 15px;
  }
}
.wrap96{
  width: 100%;
  max-width: 1020px;
  margin:0 auto;
  padding:0 30px;
  @media only screen and (max-width: 1365px){
    max-width:750px;
  }
  @media only screen and (max-width: 767px){
    max-width:480px;
    padding:0 15px;
  }
}
.wrap75{
  width: 100%;
  max-width: 750px;
  margin:0 auto;
  padding:0 30px;
  @media only screen and (max-width: 1365px){
    max-width:750px;
  }
  @media only screen and (max-width: 767px){
    max-width:480px;
    padding:0 15px;
  }
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s ease-out;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

@import "header";
@import "index";
@import "under";
@import "company";
@import "service";
@import "products";
@import "contact";
@import "recruit";
@import "footer";


@media only screen and (min-width:1366px){
  .tab{
    display: none !important;
  }
}

@media only screen and (max-width:1365px){
  .pc2{
    display: none !important;
  }
}

@media only screen and (min-width:768px){
  .sp{
    display: none !important;
  }
}

@media only screen and (max-width:767px){
  .pc{
    display: none !important;
  }
}
